@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.form__area {
  background-color: rgb(255, 217, 222);
  border-radius: 0.5em;
  width: 500px;
}

.errors__list {
  color: red;
  font-family: "Montserrat", sans-serif;
  padding: 1.5px;
  font-size: 12px;
  text-decoration: none;
  list-style-type: none;
}

.form__input-area {
  background-color: rgb(255, 217, 222);
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

.form__input-for-text {
  background-color: #f1eade;
  color: #342a21;
  margin: 2px;
  border-radius: 0.5em;
  outline: none;
}

.form__input-for-description {
  color: #342a21;
  margin: 2px;

  outline: none;
  height: 200px;
  width: 250px;
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 40px !important;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%)
}

.form__input-for-address {
  color: #342a21;
  margin: 2px;

  outline: none;
  height: 34px;
  width: 250px;
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 40px !important;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%)
}

.form__dropdown-button {
  border-radius: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  outline: none;
}
.new__form-button {
  padding: 5px;
  outline: none;
}

.new__form-submit-button {
  height: 30px;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 40px !important;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  outline: none;
  cursor: pointer;
}

.login__form-submit-button:hover {
  color: black;
  cursor: pointer;
}
