@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* .navbar__pupbnb-logo {
  font-weight: bold;
  font-family: "RocknRoll One", sans-serif;
  list-style: none;
  text-decoration: none;
} */

/* .navbar__container-buttons {
  display: flex;
} */

body {
  background-color: white;
}

.navbar__pupbnb {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  height: 100px;
}

.navbar__pupbnb ul {
  margin-top: -10px;
}

.navbar__container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__container-button {
  display: flex-end;
  width: 100px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 40px !important;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
  color: #222222;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 15%;
}

.navbar__container-button-two {
  display: flex-end;
  width: 150px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 40px !important;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
  color: #222222;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  outline: none;
}

.profile-dropdown {
  font-family: 'Montserrat', sans-serif;
  color: #342a21;
  list-style-type: none;
}

.profile-button {
  width: 100px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #342a21;
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 40px !important;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
  color: #222222;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  outline: none;
}

.profile-button:hover {
  cursor: pointer;
  background-color: #c9b79c;
  color: #faa9b8;
  outline: none;
}
.buttons-both {
  display: flex;
}
.paw-button {
  width: 100px;
  height: 25px;
  font-size: 13px;
  padding: 2px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 40px !important;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
  color: #222222;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  outline: none;
}

.navbar__container-button:hover {
  cursor: pointer;
  background-color: #c9b79c;
  color: #da667b;
  outline: none;
}

.navbar__container-button-two:hover {
  cursor: pointer;
  background-color: #c9b79c;
  color: #da667b;
}

/* .navbar__login-button {
  width: 100px;
} */

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/*
green: #71816D
light beige: #F1E0C5
dark beige: #C9B79C
brown: #342a21
pink: #da667b

*/
