@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

* {
  font-weight: bold;
  font-family: "RocknRoll One", sans-serif;
  list-style: none;
  text-decoration: none;
}
